*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    width: 100vw;height: 100vh;
    background-color: #04364A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
}
button{
    background-color: transparent;
    width: 150px;
    height: 60px;
    border: 3px solid #FFDBC3;
    font-size: x-large;
    color: #FFDBC3;
    border-style: dashed;
}

button:hover{
    border-style:solid;
}
.main{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px;
    gap: 10px 10px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFDBC3;
    background: #176B87;
    border: 3px #FFDBC3 solid;
    border-radius: 10%;
    transition: 1s;
    transform: rotate(360deg);
    
}
.box:hover{
    cursor: pointer;
    transform: rotate(0deg);
}
.box>p{
    font-size: 0px;
}
.ShowFont>p{    
    font-size: xx-large;    
}

.boxMatch{
    background: #04364A;
    border-radius: 50%;
    border: none;
}