*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    width: 100vw;height: 100vh;
    background-color: #04364A;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: #176B87;
    width: 800px;
    height: 50vh;
    border: 3px #6066d8 solid;
    border-radius: 7%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.main>div{
display: flex;justify-content: center;align-items: center;
background-color:#64CCC5;
color: rgb(0, 0, 0);
font-size: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
width: 165px;
height: 100px;
border: 3px #DAFFFB solid;
border-radius: 11%;
transform: rotate3d(180deg);
transition: 1s;
}
.main>div:first-child:hover{
    transform: rotateZ(360deg);
    border-radius: 5%;
    /* rotate: -60deg; */

}
.main>div:last-child:hover{
    transform: rotateZ(-360deg);
    border-radius: 5%;
}

