:root{
    
    --ff-sans: "Josefin Sans", sans-serif;
    --base-font: 1.6rem;
    
    --fw-normal: 400;
    --fw-bold: 700;
    --img-bg: url("./images/bg-desktop-dark.jpg");
    
    --mobile-width : 375px;
    --desktop-width : 1440px;
    
    --clr-brightBlue : hsl(220, 98%, 61%);
    --clr-CheckBackground : hsl(192, 100%, 9%) ;
    --clr-toCheckBackground: hsl(280, 87%, 65%);
    
    --clr-L-v-gray: hsl(0, 0%, 98%);
    --clr-L-v-blue: hsl(236, 33%, 92%);
    --clr-L-dk-blue: hsl(234, 39%, 85%);
    --clr-L-dk-blue: hsl(236, 9%, 61%);
    --clr-L-v-dk-blue: hsl(235, 19%, 35%);
    
    --clr-D-v-dk-blue: hsl(235, 21%, 11%);
    --clr-D-v-dk-drblue: hsl(235, 24%, 19%);
    --clr-D-lg-grblue-Active: hsl(0, 0%, 100%);
    --clr-D-lg-grblue-Hover: hsl(236, 33%, 92%);
    --clr-D-dr-grblue: hsl(234, 11%, 52%);
    --clr-D-v-dark-GRblue: hsl(233, 14%, 35%);
    --clr-D-dr-v-dark-Grblue: hsl(237, 14%, 26%);
    
}

*{margin: 0;padding: 0;box-sizing: border-box;}

html {font-size: 62.5%;position: relative;}

html,body {min-height: 100%;}

ul{list-style: none;}

img{user-select: none;}

body{
    font-family: var(--ff-sans);
    font-size: var(--base-font);
    font-weight: var(--fw-normal);
    color: var(--clr-D-v-dk-blue);
    background: var(--img-bg) var(--clr-D-v-dk-blue) no-repeat 0% 0% / 100vw 30rem;
    padding-top: 8rem;
    width: min(85%, 54rem);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 35vw;
  padding: 0px 30px;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    padding: 20px 0px;
  }
  header h1{
    font-size: calc(var(--base-font)*2.2);
    font-weight: calc(var(--fw-bold)*1);
    color: var(--clr-D-lg-grblue-Active);
    letter-spacing: 1.3rem;
}

.input-area{
  min-width: 100%;
  margin-bottom: 20px;
  display: flex;
}
.input-area{
  background: var(--clr-D-v-dk-drblue);
  font-size: var(--base-font);
  height: 45px;
  padding: 5px 20px;
  width: 90%;
}
#input1{
  width: 30px;
  height: 30px;
  border: 1px solid azure;
  border-radius: 50%;
  background: none;
  font: 0px;
  color: aliceblue;
}
.listing-area{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: aliceblue;
}
.bottom-area{
  list-style: none;
}

input,
button {
  font: inherit;
  border: 0;
  background: transparent;
}